{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Welcome Fellas!! </title>
</head>

<body background='{% static "bg.jpg" %}'>
<center>
	<font face="Script MT Bold" size="10"> Welcome to Our Profile </font>

<br><br>
<img src='{% static "17.jpg" %}' alt="Picture can't be opened" width="256" height="256">


<br><br> 

<font face="CordiaUPC">
<div style="width: 400px; height: 100px; text-align: center; margin: auto; background-color: pink;">
	Hello! My name is Rindu Salsabilla Chandra. 
	<br> I'm University of Indonesia student. I'm from Computer Science major and I enter PPW class B. 
	<br> My student number is 1706979442. 
	<br> I was born in Jakarta, 19th of July 1999.
</div>

<br>
	
	<div style="width: 440px; height: 190px; text-align: center; margin: auto; background-color: Lavender;">
		I have a lot of hobbies I like... 
	<li> Watching films,</li>
	<li> Reading books, </li>
	<li> Playing ukulele, </li>
	<li> Swimming, </li>
	<li> and many more. </li>
	I'm easy going and I can adapt with new situation in a short time. 
	<br> I like public speaking so my friends usually ask me to become 
	<br> MC in every event. I like joining organisation and committee in  
	<br> my faculty so I can increase my soft skills.
	</div>

<br> 
<img src='{% static "rafif.jpg" %}' alt="Picture can't be opened" width="300" height="256">
<br><br>

	<div style="width: 410px; height: 180px; text-align: center; margin: auto; background-color: pink;">
	Nama : Rafif Taris
	<br> NPM : 1706979436
	<br> Umur : 19 tahun
	<br> Kuliah : Faculty of Computer Science University of Indonesia
	<br> Hobi : Mendengarkan Musik, Main Game, Membaca Novel
	Saya suka mendengarkan musik terutama genre K-Pop dan EDM. Saya masuk Fasilkom UI karena saya ingin mendalami sistem keamanan komputer. Menjadi programmer web adalah salah satu langkah menuju impian saya. See you on top guys!

<br> <br> <br>
<img src='{% static "celine.jpg" %}' alt="Picture can't be opened" width="256" height="270">
<br><br>

	<div style="width: 410px; height: 120px; text-align: center; margin: auto; background-color: pink;">
	Nama : Chrysant Celine Setyawan
	<br> NPM : 1706039862
	<br> Umur : 19 tahun
	<br> Kuliah : Faculty of Computer Science University of Indonesia
	<br> Hobi : Menonton drama korea
	<br> Saya suka mencoba hal yang baru 


</font>
</center>


</body>
